{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/delete-contact.css' %}">
    <title>Contact App</title>
</head>
<body>
        <div class="container">
          <!-- Wrapper  -->
          <div class="wrapper">

            <div class="header">
                <a href="{% url 'view-contact' contact.id %}" title='back to home page'><i class="fas fa-chevron-left back"></i></a>
                <!-- User Card -->
                <div class="card">
                    <i class="fas fa-user-circle user"></i>
                    <h3>{{ contact.full_name | title }}</h3>                                
                </div>
            </div>
            <h4>Are you sure do you want to delete this contact ?</h4>
            <form method="POST"  class='delete' id='delete-contact'>
                {% csrf_token %}
                <div class="del-form" onclick="document.getElementById('delete-contact').submit();">
                    <!-- <i class="fas fa-user-times"></i>  -->
                    <h3>Delete Contact</h3>
                </div>  
            </form>

        <div class="gradient-ball one"></div>
        <div class="gradient-ball two"></div>
    </div>
    <script type="text/javascript" src="{% static 'js/vanilla-tilt.js' %}"></script>
    <script>
        VanillaTilt.init(document.querySelector(".card"), {
        max: 25,
        speed: 200,
        glare:true,
        'max-glare': 1,
    });
    </script>
</body>
</html>
   