{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/view-contact.css' %}">
    <title>Contact App</title>
</head>
<body>
    <div class="container">

        <!-- Wrapper  -->
        <div class="wrapper">

            <div class="header">
                <a href="{% url 'index' %}" title='back to home page'><i class="fas fa-chevron-left back"></i></a>

                <!-- User Card -->
                <div class="card">
                    <i class="fas fa-user-circle user"></i>
                    <h3>{{ contact.full_name | title }}</h3>                                
                </div>
            </div>

            <!-- Details lists-->
            <div class="detail-lists">

                 <!-- Detail list -->
                <div class="detail-list">
                    <div class="leading-icon"><i class="fas fa-user-circle"></i></div>
                    <div class="input-box">
                        <h3>{{ contact.full_name }}</h3>
                    </div>
                </div>

                <!-- Detail list -->
                <div class="detail-list">
                    <div class="leading-icon"><i class="fas fa-phone-alt"></i></div>
                    <div class="input-box">
                        <h3>{{ contact.phone }}</h3>
                    </div>
                </div>

                <!-- Detail list -->
                <div class="detail-list">
                    <div class="leading-icon"><i class="fas fa-envelope"></i></div>
                    <div class="input-box">
                        <h3>{{ contact.email }}</h3>
                    </div>
                </div>

                <!-- Detail list -->
                <div class="detail-list">
                    <div class="leading-icon" ><i class="fas fa-map-marker-alt"></i></div>
                    <div class="input-box">
                        <h3>{{ contact.address }}</h3>
                    </div>
                </div>

                <!-- Footer Section -->
                <div class="footer">

                    <!-- Edit Icon -->
                    <a href="{% url 'edit-contact' contact.id %}" class='edit'>
                        <i class="fas fa-user-edit"></i>
                        <h3>Edit Contact</h3>  
                    </a>

                    <!-- Delete Icon -->
                    <a href="{% url 'delete-contact' contact.id %}" class='delete'>
                        <i class="fas fa-user-times" ></i>
                        <h3>Delete Contact</h3>  
                    </a>
                    
                </div>

            </div>

        </div>
        <div class="gradient-ball one"></div>
        <div class="gradient-ball two"></div>
    </div>
    <script type="text/javascript" src="{% static 'js/vanilla-tilt.js' %}"></script>
    <script>
        VanillaTilt.init(document.querySelector(".card"), {
		max: 25,
		speed: 200,
        glare:true,
        'max-glare': 1,
	});
    </script>
</body>
</html>     